Integrate Toggl, Google Sheets.json
{
    "name": "Integration Toggl Track, Google Sheets",
    "flow": [
        {
            "id": 7,
            "module": "toggl:TriggerEntries",
            "version": 2,
            "parameters": {
                "limit": 15,
                "start_date": "2022-02-07T01:47:00.000Z",
                "__IMTCONN__": 251710
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "toggl"
                            },
                            "label": "My Toggl connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:toggl",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "start_date",
                        "type": "date",
                        "label": "Start Date",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 251729
            },
            "filter": {
                "name": "Only pass on items that have a stop time. (vs 'in progress')",
                "conditions": [
                    [
                        {
                            "a": "{{7.stop}}",
                            "b": "{{null}}",
                            "o": "text:notequal"
                        }
                    ]
                ]
            },
            "mapper": {
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "X",
                            "b": "{{7.id}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "orderBy": "AA",
                "sheetId": "1.TogglData",
                "fieldType": "number",
                "sortOrder": "desc",
                "spreadsheetId": "",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "orderBy": {
                            "mode": "chose",
                            "label": "Timestamp (AA)"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "1.TogglData"
                        },
                        "fieldType": {
                            "mode": "chose",
                            "label": "Number"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Descending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Toggl 2022-present"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "redacted (redacted)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2.8.5/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "fieldType",
                        "type": "select",
                        "label": "Field Type",
                        "validate": {
                            "enum": [
                                "string",
                                "number",
                                "date"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "User (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Email (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Client (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Project (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Task (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Description (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Billable (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Start date (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "Start time (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "End date (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "End time (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "Duration (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "Tags (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "Amount () (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "OTHER DATA BEYOND THIS POINT (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "Task (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "Project ID (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "Task ID (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "Project Color (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "Project Hex Color (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "Billable (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "Is Billable (V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "User ID (W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "Report ID (X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "Start (Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "End (Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "Timestamp (AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 1
            },
            "filter": {
                "name": "If no row number is found nothing is sent down this path",
                "conditions": []
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 251729
                            },
                            "filter": {
                                "name": "If a match is found, then update that row. ​​",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.`__ROW_NUMBER__`}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "mode": "map",
                                "values": {
                                    "5": "{{7.description}}",
                                    "7": "{{formatDate(7.start; \"YYYY-MM-DD\")}}",
                                    "8": "{{formatDate(7.start; \"HH:MM:SS\")}}",
                                    "9": "{{formatDate(7.stop; \"YYYY-MM-DD\")}}",
                                    "10": "{{formatDate(7.stop; \"HH:MM:SS\")}}",
                                    "11": "{{7.duration}}",
                                    "12": "{{7.tags}}",
                                    "16": "{{7.pid}}",
                                    "17": "{{7.tid}}",
                                    "20": "{{7.at}}",
                                    "23": "{{7.id}}",
                                    "24": "{{7.start}}",
                                    "25": "{{7.stop}}",
                                    "26": "{{formatDate(parseDate(timestamp; \"X\"); \"YYYY-MM-DD HH:mm:ss\"; \"US/Los Angeles\")}}"
                                },
                                "sheetId": "1.TogglData",
                                "rowNumber": "{{5.`__ROW_NUMBER__`}}",
                                "spreadsheetId": "redacted",
                                "tableFirstRow": "A1:BZ1",
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "mode": {
                                            "label": "Enter manually"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-BZ",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "A"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "B"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "C"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "D"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "E"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "F"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "G"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "H"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "I"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "J"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "K"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "L"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "M"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "N"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "O"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "P"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "Q"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "R"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "S"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "T"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "U"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "V"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "W"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "X"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "Y"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "Z"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "AA"
                                                        },
                                                        {
                                                            "name": "27",
                                                            "type": "text",
                                                            "label": "AB"
                                                        },
                                                        {
                                                            "name": "28",
                                                            "type": "text",
                                                            "label": "AC"
                                                        },
                                                        {
                                                            "name": "29",
                                                            "type": "text",
                                                            "label": "AD"
                                                        },
                                                        {
                                                            "name": "30",
                                                            "type": "text",
                                                            "label": "AE"
                                                        },
                                                        {
                                                            "name": "31",
                                                            "type": "text",
                                                            "label": "AF"
                                                        },
                                                        {
                                                            "name": "32",
                                                            "type": "text",
                                                            "label": "AG"
                                                        },
                                                        {
                                                            "name": "33",
                                                            "type": "text",
                                                            "label": "AH"
                                                        },
                                                        {
                                                            "name": "34",
                                                            "type": "text",
                                                            "label": "AI"
                                                        },
                                                        {
                                                            "name": "35",
                                                            "type": "text",
                                                            "label": "AJ"
                                                        },
                                                        {
                                                            "name": "36",
                                                            "type": "text",
                                                            "label": "AK"
                                                        },
                                                        {
                                                            "name": "37",
                                                            "type": "text",
                                                            "label": "AL"
                                                        },
                                                        {
                                                            "name": "38",
                                                            "type": "text",
                                                            "label": "AM"
                                                        },
                                                        {
                                                            "name": "39",
                                                            "type": "text",
                                                            "label": "AN"
                                                        },
                                                        {
                                                            "name": "40",
                                                            "type": "text",
                                                            "label": "AO"
                                                        },
                                                        {
                                                            "name": "41",
                                                            "type": "text",
                                                            "label": "AP"
                                                        },
                                                        {
                                                            "name": "42",
                                                            "type": "text",
                                                            "label": "AQ"
                                                        },
                                                        {
                                                            "name": "43",
                                                            "type": "text",
                                                            "label": "AR"
                                                        },
                                                        {
                                                            "name": "44",
                                                            "type": "text",
                                                            "label": "AS"
                                                        },
                                                        {
                                                            "name": "45",
                                                            "type": "text",
                                                            "label": "AT"
                                                        },
                                                        {
                                                            "name": "46",
                                                            "type": "text",
                                                            "label": "AU"
                                                        },
                                                        {
                                                            "name": "47",
                                                            "type": "text",
                                                            "label": "AV"
                                                        },
                                                        {
                                                            "name": "48",
                                                            "type": "text",
                                                            "label": "AW"
                                                        },
                                                        {
                                                            "name": "49",
                                                            "type": "text",
                                                            "label": "AX"
                                                        },
                                                        {
                                                            "name": "50",
                                                            "type": "text",
                                                            "label": "AY"
                                                        },
                                                        {
                                                            "name": "51",
                                                            "type": "text",
                                                            "label": "AZ"
                                                        },
                                                        {
                                                            "name": "52",
                                                            "type": "text",
                                                            "label": "BA"
                                                        },
                                                        {
                                                            "name": "53",
                                                            "type": "text",
                                                            "label": "BB"
                                                        },
                                                        {
                                                            "name": "54",
                                                            "type": "text",
                                                            "label": "BC"
                                                        },
                                                        {
                                                            "name": "55",
                                                            "type": "text",
                                                            "label": "BD"
                                                        },
                                                        {
                                                            "name": "56",
                                                            "type": "text",
                                                            "label": "BE"
                                                        },
                                                        {
                                                            "name": "57",
                                                            "type": "text",
                                                            "label": "BF"
                                                        },
                                                        {
                                                            "name": "58",
                                                            "type": "text",
                                                            "label": "BG"
                                                        },
                                                        {
                                                            "name": "59",
                                                            "type": "text",
                                                            "label": "BH"
                                                        },
                                                        {
                                                            "name": "60",
                                                            "type": "text",
                                                            "label": "BI"
                                                        },
                                                        {
                                                            "name": "61",
                                                            "type": "text",
                                                            "label": "BJ"
                                                        },
                                                        {
                                                            "name": "62",
                                                            "type": "text",
                                                            "label": "BK"
                                                        },
                                                        {
                                                            "name": "63",
                                                            "type": "text",
                                                            "label": "BL"
                                                        },
                                                        {
                                                            "name": "64",
                                                            "type": "text",
                                                            "label": "BM"
                                                        },
                                                        {
                                                            "name": "65",
                                                            "type": "text",
                                                            "label": "BN"
                                                        },
                                                        {
                                                            "name": "66",
                                                            "type": "text",
                                                            "label": "BO"
                                                        },
                                                        {
                                                            "name": "67",
                                                            "type": "text",
                                                            "label": "BP"
                                                        },
                                                        {
                                                            "name": "68",
                                                            "type": "text",
                                                            "label": "BQ"
                                                        },
                                                        {
                                                            "name": "69",
                                                            "type": "text",
                                                            "label": "BR"
                                                        },
                                                        {
                                                            "name": "70",
                                                            "type": "text",
                                                            "label": "BS"
                                                        },
                                                        {
                                                            "name": "71",
                                                            "type": "text",
                                                            "label": "BT"
                                                        },
                                                        {
                                                            "name": "72",
                                                            "type": "text",
                                                            "label": "BU"
                                                        },
                                                        {
                                                            "name": "73",
                                                            "type": "text",
                                                            "label": "BV"
                                                        },
                                                        {
                                                            "name": "74",
                                                            "type": "text",
                                                            "label": "BW"
                                                        },
                                                        {
                                                            "name": "75",
                                                            "type": "text",
                                                            "label": "BX"
                                                        },
                                                        {
                                                            "name": "76",
                                                            "type": "text",
                                                            "label": "BY"
                                                        },
                                                        {
                                                            "name": "77",
                                                            "type": "text",
                                                            "label": "BZ"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "redacted (redacted)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Choose a Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "text",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "A"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "B"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "C"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "D"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "E"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "F"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "G"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "H"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "I"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "J"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "K"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "L"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "M"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "N"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "O"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "P"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Q"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "R"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "S"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "T"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "U"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "V"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "W"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "X"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "Y"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "Z"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "AA"
                                            },
                                            {
                                                "name": "27",
                                                "type": "text",
                                                "label": "AB"
                                            },
                                            {
                                                "name": "28",
                                                "type": "text",
                                                "label": "AC"
                                            },
                                            {
                                                "name": "29",
                                                "type": "text",
                                                "label": "AD"
                                            },
                                            {
                                                "name": "30",
                                                "type": "text",
                                                "label": "AE"
                                            },
                                            {
                                                "name": "31",
                                                "type": "text",
                                                "label": "AF"
                                            },
                                            {
                                                "name": "32",
                                                "type": "text",
                                                "label": "AG"
                                            },
                                            {
                                                "name": "33",
                                                "type": "text",
                                                "label": "AH"
                                            },
                                            {
                                                "name": "34",
                                                "type": "text",
                                                "label": "AI"
                                            },
                                            {
                                                "name": "35",
                                                "type": "text",
                                                "label": "AJ"
                                            },
                                            {
                                                "name": "36",
                                                "type": "text",
                                                "label": "AK"
                                            },
                                            {
                                                "name": "37",
                                                "type": "text",
                                                "label": "AL"
                                            },
                                            {
                                                "name": "38",
                                                "type": "text",
                                                "label": "AM"
                                            },
                                            {
                                                "name": "39",
                                                "type": "text",
                                                "label": "AN"
                                            },
                                            {
                                                "name": "40",
                                                "type": "text",
                                                "label": "AO"
                                            },
                                            {
                                                "name": "41",
                                                "type": "text",
                                                "label": "AP"
                                            },
                                            {
                                                "name": "42",
                                                "type": "text",
                                                "label": "AQ"
                                            },
                                            {
                                                "name": "43",
                                                "type": "text",
                                                "label": "AR"
                                            },
                                            {
                                                "name": "44",
                                                "type": "text",
                                                "label": "AS"
                                            },
                                            {
                                                "name": "45",
                                                "type": "text",
                                                "label": "AT"
                                            },
                                            {
                                                "name": "46",
                                                "type": "text",
                                                "label": "AU"
                                            },
                                            {
                                                "name": "47",
                                                "type": "text",
                                                "label": "AV"
                                            },
                                            {
                                                "name": "48",
                                                "type": "text",
                                                "label": "AW"
                                            },
                                            {
                                                "name": "49",
                                                "type": "text",
                                                "label": "AX"
                                            },
                                            {
                                                "name": "50",
                                                "type": "text",
                                                "label": "AY"
                                            },
                                            {
                                                "name": "51",
                                                "type": "text",
                                                "label": "AZ"
                                            },
                                            {
                                                "name": "52",
                                                "type": "text",
                                                "label": "BA"
                                            },
                                            {
                                                "name": "53",
                                                "type": "text",
                                                "label": "BB"
                                            },
                                            {
                                                "name": "54",
                                                "type": "text",
                                                "label": "BC"
                                            },
                                            {
                                                "name": "55",
                                                "type": "text",
                                                "label": "BD"
                                            },
                                            {
                                                "name": "56",
                                                "type": "text",
                                                "label": "BE"
                                            },
                                            {
                                                "name": "57",
                                                "type": "text",
                                                "label": "BF"
                                            },
                                            {
                                                "name": "58",
                                                "type": "text",
                                                "label": "BG"
                                            },
                                            {
                                                "name": "59",
                                                "type": "text",
                                                "label": "BH"
                                            },
                                            {
                                                "name": "60",
                                                "type": "text",
                                                "label": "BI"
                                            },
                                            {
                                                "name": "61",
                                                "type": "text",
                                                "label": "BJ"
                                            },
                                            {
                                                "name": "62",
                                                "type": "text",
                                                "label": "BK"
                                            },
                                            {
                                                "name": "63",
                                                "type": "text",
                                                "label": "BL"
                                            },
                                            {
                                                "name": "64",
                                                "type": "text",
                                                "label": "BM"
                                            },
                                            {
                                                "name": "65",
                                                "type": "text",
                                                "label": "BN"
                                            },
                                            {
                                                "name": "66",
                                                "type": "text",
                                                "label": "BO"
                                            },
                                            {
                                                "name": "67",
                                                "type": "text",
                                                "label": "BP"
                                            },
                                            {
                                                "name": "68",
                                                "type": "text",
                                                "label": "BQ"
                                            },
                                            {
                                                "name": "69",
                                                "type": "text",
                                                "label": "BR"
                                            },
                                            {
                                                "name": "70",
                                                "type": "text",
                                                "label": "BS"
                                            },
                                            {
                                                "name": "71",
                                                "type": "text",
                                                "label": "BT"
                                            },
                                            {
                                                "name": "72",
                                                "type": "text",
                                                "label": "BU"
                                            },
                                            {
                                                "name": "73",
                                                "type": "text",
                                                "label": "BV"
                                            },
                                            {
                                                "name": "74",
                                                "type": "text",
                                                "label": "BW"
                                            },
                                            {
                                                "name": "75",
                                                "type": "text",
                                                "label": "BX"
                                            },
                                            {
                                                "name": "76",
                                                "type": "text",
                                                "label": "BY"
                                            },
                                            {
                                                "name": "77",
                                                "type": "text",
                                                "label": "BZ"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 251729
                            },
                            "filter": {
                                "name": "If no match is found, then add a row",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.`__ROW_NUMBER__`}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "mode": "map",
                                "values": {
                                    "5": "{{7.description}}",
                                    "7": "{{formatDate(7.start; \"YYYY-MM-DD\")}}",
                                    "8": "{{formatDate(7.start; \"HH:MM:SS\")}}",
                                    "9": "{{formatDate(7.stop; \"YYYY-MM-DD\")}}",
                                    "10": "{{formatDate(7.stop; \"HH:MM:SS\")}}",
                                    "11": "{{7.duration}}",
                                    "12": "{{7.tags}}",
                                    "16": "{{7.pid}}",
                                    "17": "{{7.tid}}",
                                    "20": "{{7.at}}",
                                    "22": "{{7.uid}}",
                                    "23": "{{7.id}}",
                                    "24": "{{7.start}}",
                                    "25": "{{7.stop}}",
                                    "26": "{{formatDate(parseDate(timestamp; \"X\"); \"YYYY-MM-DD HH:mm:ss\"; \"US/Los Angeles\")}}"
                                },
                                "sheetId": "1.TogglData",
                                "spreadsheetId": "redacted",
                                "tableFirstRow": "A1:BZ1",
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "mode": {
                                            "label": "Enter manually"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-BZ",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "A"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "B"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "C"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "D"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "E"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "F"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "G"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "H"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "I"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "J"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "K"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "L"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "M"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "N"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "O"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "P"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "Q"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "R"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "S"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "T"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "U"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "V"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "W"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "X"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "Y"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "Z"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "AA"
                                                        },
                                                        {
                                                            "name": "27",
                                                            "type": "text",
                                                            "label": "AB"
                                                        },
                                                        {
                                                            "name": "28",
                                                            "type": "text",
                                                            "label": "AC"
                                                        },
                                                        {
                                                            "name": "29",
                                                            "type": "text",
                                                            "label": "AD"
                                                        },
                                                        {
                                                            "name": "30",
                                                            "type": "text",
                                                            "label": "AE"
                                                        },
                                                        {
                                                            "name": "31",
                                                            "type": "text",
                                                            "label": "AF"
                                                        },
                                                        {
                                                            "name": "32",
                                                            "type": "text",
                                                            "label": "AG"
                                                        },
                                                        {
                                                            "name": "33",
                                                            "type": "text",
                                                            "label": "AH"
                                                        },
                                                        {
                                                            "name": "34",
                                                            "type": "text",
                                                            "label": "AI"
                                                        },
                                                        {
                                                            "name": "35",
                                                            "type": "text",
                                                            "label": "AJ"
                                                        },
                                                        {
                                                            "name": "36",
                                                            "type": "text",
                                                            "label": "AK"
                                                        },
                                                        {
                                                            "name": "37",
                                                            "type": "text",
                                                            "label": "AL"
                                                        },
                                                        {
                                                            "name": "38",
                                                            "type": "text",
                                                            "label": "AM"
                                                        },
                                                        {
                                                            "name": "39",
                                                            "type": "text",
                                                            "label": "AN"
                                                        },
                                                        {
                                                            "name": "40",
                                                            "type": "text",
                                                            "label": "AO"
                                                        },
                                                        {
                                                            "name": "41",
                                                            "type": "text",
                                                            "label": "AP"
                                                        },
                                                        {
                                                            "name": "42",
                                                            "type": "text",
                                                            "label": "AQ"
                                                        },
                                                        {
                                                            "name": "43",
                                                            "type": "text",
                                                            "label": "AR"
                                                        },
                                                        {
                                                            "name": "44",
                                                            "type": "text",
                                                            "label": "AS"
                                                        },
                                                        {
                                                            "name": "45",
                                                            "type": "text",
                                                            "label": "AT"
                                                        },
                                                        {
                                                            "name": "46",
                                                            "type": "text",
                                                            "label": "AU"
                                                        },
                                                        {
                                                            "name": "47",
                                                            "type": "text",
                                                            "label": "AV"
                                                        },
                                                        {
                                                            "name": "48",
                                                            "type": "text",
                                                            "label": "AW"
                                                        },
                                                        {
                                                            "name": "49",
                                                            "type": "text",
                                                            "label": "AX"
                                                        },
                                                        {
                                                            "name": "50",
                                                            "type": "text",
                                                            "label": "AY"
                                                        },
                                                        {
                                                            "name": "51",
                                                            "type": "text",
                                                            "label": "AZ"
                                                        },
                                                        {
                                                            "name": "52",
                                                            "type": "text",
                                                            "label": "BA"
                                                        },
                                                        {
                                                            "name": "53",
                                                            "type": "text",
                                                            "label": "BB"
                                                        },
                                                        {
                                                            "name": "54",
                                                            "type": "text",
                                                            "label": "BC"
                                                        },
                                                        {
                                                            "name": "55",
                                                            "type": "text",
                                                            "label": "BD"
                                                        },
                                                        {
                                                            "name": "56",
                                                            "type": "text",
                                                            "label": "BE"
                                                        },
                                                        {
                                                            "name": "57",
                                                            "type": "text",
                                                            "label": "BF"
                                                        },
                                                        {
                                                            "name": "58",
                                                            "type": "text",
                                                            "label": "BG"
                                                        },
                                                        {
                                                            "name": "59",
                                                            "type": "text",
                                                            "label": "BH"
                                                        },
                                                        {
                                                            "name": "60",
                                                            "type": "text",
                                                            "label": "BI"
                                                        },
                                                        {
                                                            "name": "61",
                                                            "type": "text",
                                                            "label": "BJ"
                                                        },
                                                        {
                                                            "name": "62",
                                                            "type": "text",
                                                            "label": "BK"
                                                        },
                                                        {
                                                            "name": "63",
                                                            "type": "text",
                                                            "label": "BL"
                                                        },
                                                        {
                                                            "name": "64",
                                                            "type": "text",
                                                            "label": "BM"
                                                        },
                                                        {
                                                            "name": "65",
                                                            "type": "text",
                                                            "label": "BN"
                                                        },
                                                        {
                                                            "name": "66",
                                                            "type": "text",
                                                            "label": "BO"
                                                        },
                                                        {
                                                            "name": "67",
                                                            "type": "text",
                                                            "label": "BP"
                                                        },
                                                        {
                                                            "name": "68",
                                                            "type": "text",
                                                            "label": "BQ"
                                                        },
                                                        {
                                                            "name": "69",
                                                            "type": "text",
                                                            "label": "BR"
                                                        },
                                                        {
                                                            "name": "70",
                                                            "type": "text",
                                                            "label": "BS"
                                                        },
                                                        {
                                                            "name": "71",
                                                            "type": "text",
                                                            "label": "BT"
                                                        },
                                                        {
                                                            "name": "72",
                                                            "type": "text",
                                                            "label": "BU"
                                                        },
                                                        {
                                                            "name": "73",
                                                            "type": "text",
                                                            "label": "BV"
                                                        },
                                                        {
                                                            "name": "74",
                                                            "type": "text",
                                                            "label": "BW"
                                                        },
                                                        {
                                                            "name": "75",
                                                            "type": "text",
                                                            "label": "BX"
                                                        },
                                                        {
                                                            "name": "76",
                                                            "type": "text",
                                                            "label": "BY"
                                                        },
                                                        {
                                                            "name": "77",
                                                            "type": "text",
                                                            "label": "BZ"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": " ()"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Choose a Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "text",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "A"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "B"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "C"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "D"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "E"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "F"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "G"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "H"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "I"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "J"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "K"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "L"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "M"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "N"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "O"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "P"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Q"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "R"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "S"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "T"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "U"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "V"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "W"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "X"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "Y"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "Z"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "AA"
                                            },
                                            {
                                                "name": "27",
                                                "type": "text",
                                                "label": "AB"
                                            },
                                            {
                                                "name": "28",
                                                "type": "text",
                                                "label": "AC"
                                            },
                                            {
                                                "name": "29",
                                                "type": "text",
                                                "label": "AD"
                                            },
                                            {
                                                "name": "30",
                                                "type": "text",
                                                "label": "AE"
                                            },
                                            {
                                                "name": "31",
                                                "type": "text",
                                                "label": "AF"
                                            },
                                            {
                                                "name": "32",
                                                "type": "text",
                                                "label": "AG"
                                            },
                                            {
                                                "name": "33",
                                                "type": "text",
                                                "label": "AH"
                                            },
                                            {
                                                "name": "34",
                                                "type": "text",
                                                "label": "AI"
                                            },
                                            {
                                                "name": "35",
                                                "type": "text",
                                                "label": "AJ"
                                            },
                                            {
                                                "name": "36",
                                                "type": "text",
                                                "label": "AK"
                                            },
                                            {
                                                "name": "37",
                                                "type": "text",
                                                "label": "AL"
                                            },
                                            {
                                                "name": "38",
                                                "type": "text",
                                                "label": "AM"
                                            },
                                            {
                                                "name": "39",
                                                "type": "text",
                                                "label": "AN"
                                            },
                                            {
                                                "name": "40",
                                                "type": "text",
                                                "label": "AO"
                                            },
                                            {
                                                "name": "41",
                                                "type": "text",
                                                "label": "AP"
                                            },
                                            {
                                                "name": "42",
                                                "type": "text",
                                                "label": "AQ"
                                            },
                                            {
                                                "name": "43",
                                                "type": "text",
                                                "label": "AR"
                                            },
                                            {
                                                "name": "44",
                                                "type": "text",
                                                "label": "AS"
                                            },
                                            {
                                                "name": "45",
                                                "type": "text",
                                                "label": "AT"
                                            },
                                            {
                                                "name": "46",
                                                "type": "text",
                                                "label": "AU"
                                            },
                                            {
                                                "name": "47",
                                                "type": "text",
                                                "label": "AV"
                                            },
                                            {
                                                "name": "48",
                                                "type": "text",
                                                "label": "AW"
                                            },
                                            {
                                                "name": "49",
                                                "type": "text",
                                                "label": "AX"
                                            },
                                            {
                                                "name": "50",
                                                "type": "text",
                                                "label": "AY"
                                            },
                                            {
                                                "name": "51",
                                                "type": "text",
                                                "label": "AZ"
                                            },
                                            {
                                                "name": "52",
                                                "type": "text",
                                                "label": "BA"
                                            },
                                            {
                                                "name": "53",
                                                "type": "text",
                                                "label": "BB"
                                            },
                                            {
                                                "name": "54",
                                                "type": "text",
                                                "label": "BC"
                                            },
                                            {
                                                "name": "55",
                                                "type": "text",
                                                "label": "BD"
                                            },
                                            {
                                                "name": "56",
                                                "type": "text",
                                                "label": "BE"
                                            },
                                            {
                                                "name": "57",
                                                "type": "text",
                                                "label": "BF"
                                            },
                                            {
                                                "name": "58",
                                                "type": "text",
                                                "label": "BG"
                                            },
                                            {
                                                "name": "59",
                                                "type": "text",
                                                "label": "BH"
                                            },
                                            {
                                                "name": "60",
                                                "type": "text",
                                                "label": "BI"
                                            },
                                            {
                                                "name": "61",
                                                "type": "text",
                                                "label": "BJ"
                                            },
                                            {
                                                "name": "62",
                                                "type": "text",
                                                "label": "BK"
                                            },
                                            {
                                                "name": "63",
                                                "type": "text",
                                                "label": "BL"
                                            },
                                            {
                                                "name": "64",
                                                "type": "text",
                                                "label": "BM"
                                            },
                                            {
                                                "name": "65",
                                                "type": "text",
                                                "label": "BN"
                                            },
                                            {
                                                "name": "66",
                                                "type": "text",
                                                "label": "BO"
                                            },
                                            {
                                                "name": "67",
                                                "type": "text",
                                                "label": "BP"
                                            },
                                            {
                                                "name": "68",
                                                "type": "text",
                                                "label": "BQ"
                                            },
                                            {
                                                "name": "69",
                                                "type": "text",
                                                "label": "BR"
                                            },
                                            {
                                                "name": "70",
                                                "type": "text",
                                                "label": "BS"
                                            },
                                            {
                                                "name": "71",
                                                "type": "text",
                                                "label": "BT"
                                            },
                                            {
                                                "name": "72",
                                                "type": "text",
                                                "label": "BU"
                                            },
                                            {
                                                "name": "73",
                                                "type": "text",
                                                "label": "BV"
                                            },
                                            {
                                                "name": "74",
                                                "type": "text",
                                                "label": "BW"
                                            },
                                            {
                                                "name": "75",
                                                "type": "text",
                                                "label": "BX"
                                            },
                                            {
                                                "name": "76",
                                                "type": "text",
                                                "label": "BY"
                                            },
                                            {
                                                "name": "77",
                                                "type": "text",
                                                "label": "BZ"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 9,
                    "text": "",
                    "filter": true
                }
            ]
        },
        "zone": "us1.make.com"
    }
}
